//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 15 00:23:57 2014
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "led<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "led<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "led<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "led<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "led<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "led<9>" LOCATE = SITE "U3" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "led<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "led<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "led<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "led<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "led<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "led<15>" LOCATE = SITE "P2" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "c_divider/divided_clk" BEL
        "c_divider/internal_clock_0" BEL "c_divider/internal_clock_1" BEL
        "c_divider/internal_clock_2" BEL "c_divider/internal_clock_3" BEL
        "c_divider/internal_clock_4" BEL "c_divider/internal_clock_5" BEL
        "c_divider/internal_clock_6" BEL "c_divider/internal_clock_7" BEL
        "c_divider/internal_clock_8" BEL "c_divider/internal_clock_9" BEL
        "c_divider/internal_clock_10" BEL "c_divider/internal_clock_11" BEL
        "c_divider/internal_clock_12" BEL "c_divider/internal_clock_13" BEL
        "c_divider/internal_clock_14" BEL "c_divider/internal_clock_15" BEL
        "c_divider/internal_clock_16" BEL "c_divider/internal_clock_17" BEL
        "c_divider/internal_clock_18" BEL "c_divider/internal_clock_19" BEL
        "c_divider/internal_clock_20" BEL "generator/count_31" BEL
        "generator/count_30" BEL "generator/count_29" BEL "generator/count_28"
        BEL "generator/count_27" BEL "generator/count_26" BEL
        "generator/count_25" BEL "generator/count_24" BEL "generator/count_23"
        BEL "generator/count_22" BEL "generator/count_21" BEL
        "generator/count_20" BEL "generator/count_19" BEL "generator/count_18"
        BEL "generator/count_17" BEL "generator/count_16" BEL
        "generator/count_15" BEL "generator/count_14" BEL "generator/count_13"
        BEL "generator/count_12" BEL "generator/count_11" BEL
        "generator/count_10" BEL "generator/count_9" BEL "generator/count_8"
        BEL "generator/count_7" BEL "generator/count_6" BEL
        "generator/count_5" BEL "generator/count_4" BEL "generator/count_3"
        BEL "generator/count_2" BEL "generator/count_1" BEL
        "generator/count_0" BEL "generator/rand_temp_9" BEL
        "generator/rand_temp_8" BEL "generator/rand_temp_7" BEL
        "generator/rand_temp_6" BEL "generator/rand_temp_5" BEL
        "generator/rand_temp_4" BEL "generator/rand_temp_3" BEL
        "generator/rand_temp_2" BEL "generator/rand_temp_1" BEL
        "decoder/c_divider/internal_clock_20" BEL
        "decoder/c_divider/internal_clock_19" BEL
        "decoder/c_divider/internal_clock_18" BEL
        "decoder/c_divider/internal_clock_17" BEL
        "decoder/c_divider/internal_clock_16" BEL
        "decoder/c_divider/internal_clock_15" BEL
        "decoder/c_divider/internal_clock_14" BEL
        "decoder/c_divider/internal_clock_13" BEL
        "decoder/c_divider/internal_clock_12" BEL
        "decoder/c_divider/internal_clock_11" BEL
        "decoder/c_divider/internal_clock_10" BEL
        "decoder/c_divider/internal_clock_9" BEL
        "decoder/c_divider/internal_clock_8" BEL
        "decoder/c_divider/internal_clock_7" BEL
        "decoder/c_divider/internal_clock_6" BEL
        "decoder/c_divider/internal_clock_5" BEL
        "decoder/c_divider/internal_clock_4" BEL
        "decoder/c_divider/internal_clock_3" BEL
        "decoder/c_divider/internal_clock_2" BEL
        "decoder/c_divider/internal_clock_1" BEL
        "decoder/c_divider/internal_clock_0" BEL
        "decoder/c_divider/divided_clk" BEL "ram/_o3409" BEL "ram/_o3407" BEL
        "ram/_o3405" BEL "ram/_o3403" BEL "ram/_o3401" BEL "ram/_o3399" BEL
        "ram/_o3397" BEL "ram/_o3395" BEL "ram/_o3393" BEL "ram/_o3391" BEL
        "ram/_o3389" BEL "ram/_o3387" BEL "ram/_o3385" BEL "ram/_o3383" BEL
        "ram/_o3381" BEL "ram/_o3379" BEL "ram/_o3377" BEL "ram/_o3375" BEL
        "ram/_o3373" BEL "ram/_o3371" BEL "ram/_o3369" BEL "ram/_o3367" BEL
        "ram/_o3365" BEL "ram/_o3363" BEL "ram/_o3361" BEL "ram/_o3359" BEL
        "ram/_o3357" BEL "ram/_o3355" BEL "ram/_o3353" BEL "ram/_o3351" BEL
        "ram/_o3349" BEL "ram/_o3347" BEL "ram/_o3345" BEL "ram/_o3343" BEL
        "ram/_o3341" BEL "ram/_o3339" BEL "ram/_o3337" BEL "ram/_o3335" BEL
        "ram/_o3333" BEL "ram/_o3331" BEL "ram/_o3329" BEL "ram/_o3327" BEL
        "ram/_o3325" BEL "ram/_o3323" BEL "ram/_o3321" BEL "ram/_o3319" BEL
        "ram/_o3317" BEL "ram/_o3315" BEL "ram/_o3313" BEL "ram/_o3311" BEL
        "ram/_o3309" BEL "ram/_o3307" BEL "ram/_o3305" BEL "ram/_o3303" BEL
        "ram/_o3301" BEL "ram/_o3299" BEL "ram/_o3297" BEL "ram/_o3295" BEL
        "ram/_o3293" BEL "ram/_o3291" BEL "ram/_o3289" BEL "ram/_o3287" BEL
        "ram/_o3285" BEL "ram/_o3283" BEL "ram/_o3281" BEL "ram/_o3279" BEL
        "ram/_o3277" BEL "ram/_o3275" BEL "ram/_o3273" BEL "ram/_o3271" BEL
        "ram/_o3269" BEL "ram/_o3267" BEL "ram/_o3265" BEL "ram/_o3263" BEL
        "ram/_o3261" BEL "ram/_o3259" BEL "ram/_o3257" BEL "ram/_o3255" BEL
        "ram/_o3253" BEL "ram/_o3251" BEL "ram/_o3249" BEL "ram/_o3247" BEL
        "ram/_o3245" BEL "ram/_o3243" BEL "ram/_o3241" BEL "ram/_o3239" BEL
        "ram/_o3237" BEL "ram/_o3235" BEL "ram/_o3233" BEL "ram/_o3231" BEL
        "ram/_o3229" BEL "ram/_o3227" BEL "ram/_o3225" BEL "ram/_o3223" BEL
        "ram/_o3221" BEL "ram/_o3219" BEL "ram/_o3217" BEL "ram/_o3215" BEL
        "ram/_o3213" BEL "ram/_o3211" BEL "ram/_o3209" BEL "ram/_o3207" BEL
        "ram/_o3205" BEL "ram/_o3203" BEL "ram/_o3201" BEL "ram/_o3199" BEL
        "ram/_o3197" BEL "ram/_o3195" BEL "ram/_o3193" BEL "ram/_o3191" BEL
        "ram/_o3189" BEL "ram/_o3187" BEL "ram/_o3185" BEL "ram/_o3183" BEL
        "ram/_o3181" BEL "ram/_o3179" BEL "ram/_o3177" BEL "ram/_o3175" BEL
        "ram/_o3173" BEL "ram/_o3171" BEL "ram/_o3169" BEL "ram/_o3167" BEL
        "ram/_o3165" BEL "ram/_o3163" BEL "ram/_o3161" BEL "ram/_o3159" BEL
        "ram/_o3157" BEL "ram/_o3155" BEL "ram/_o3153" BEL "ram/_o3151" BEL
        "ram/_o3149" BEL "ram/_o3147" BEL "ram/_o3145" BEL "ram/_o3143" BEL
        "ram/_o3141" BEL "ram/_o3139" BEL "ram/_o3137" BEL "ram/_o3135" BEL
        "ram/_o3133" BEL "ram/_o3131" BEL "ram/_o3129" BEL "ram/_o3127" BEL
        "ram/_o3125" BEL "ram/_o3123" BEL "ram/_o3121" BEL "ram/_o3119" BEL
        "ram/_o3117" BEL "ram/_o3115" BEL "ram/_o3113" BEL "ram/_o3111" BEL
        "ram/_o3109" BEL "ram/_o3107" BEL "ram/_o3105" BEL "ram/_o3103" BEL
        "ram/_o3101" BEL "ram/_o3099" BEL "ram/_o3097" BEL "ram/_o3095" BEL
        "ram/_o3093" BEL "ram/_o3091" BEL "ram/_o3089" BEL "ram/_o3087" BEL
        "ram/_o3085" BEL "ram/_o3083" BEL "ram/_o3081" BEL "ram/_o3079" BEL
        "ram/_o3077" BEL "ram/_o3075" BEL "ram/_o3073" BEL "ram/_o3071" BEL
        "ram/_o3069" BEL "ram/_o3067" BEL "ram/_o3065" BEL "ram/_o3063" BEL
        "ram/_o3061" BEL "ram/_o3059" BEL "ram/_o3057" BEL "ram/_o3055" BEL
        "ram/_o3053" BEL "ram/_o3051" BEL "ram/_o3049" BEL "ram/_o3047" BEL
        "ram/_o3045" BEL "ram/_o3043" BEL "ram/_o3041" BEL "ram/_o3039" BEL
        "ram/_o3037" BEL "ram/_o3035" BEL "ram/_o3033" BEL "ram/_o3031" BEL
        "ram/_o3029" BEL "ram/_o3027" BEL "ram/_o3025" BEL "ram/_o3023" BEL
        "ram/_o3021" BEL "ram/_o3019" BEL "ram/_o3017" BEL "ram/_o3015" BEL
        "ram/_o3013" BEL "ram/_o3011" BEL "ram/_o3009" BEL "ram/_o3007" BEL
        "ram/_o3005" BEL "ram/_o3003" BEL "ram/_o3001" BEL "ram/_o2999" BEL
        "ram/_o2997" BEL "ram/_o2995" BEL "ram/_o2993" BEL "ram/_o2991" BEL
        "ram/_o2989" BEL "ram/_o2987" BEL "ram/_o2985" BEL "ram/_o2983" BEL
        "ram/_o2981" BEL "ram/_o2979" BEL "ram/_o2977" BEL "ram/_o2975" BEL
        "ram/_o2973" BEL "ram/_o2971" BEL "ram/_o2969" BEL "ram/_o2967" BEL
        "ram/_o2965" BEL "ram/_o2963" BEL "ram/_o2961" BEL "ram/_o2959" BEL
        "ram/_o2957" BEL "ram/_o2955" BEL "ram/_o2953" BEL "ram/_o2951" BEL
        "ram/_o2949" BEL "ram/_o2947" BEL "ram/_o2945" BEL "ram/_o2943" BEL
        "ram/_o2941" BEL "ram/_o2939" BEL "ram/_o2937" BEL "ram/_o2935" BEL
        "ram/_o2933" BEL "ram/_o2931" BEL "ram/_o2929" BEL "ram/_o2927" BEL
        "ram/_o2925" BEL "ram/_o2923" BEL "ram/_o2921" BEL "ram/_o2919" BEL
        "ram/_o2917" BEL "ram/_o2915" BEL "ram/_o2913" BEL "ram/_o2911" BEL
        "ram/_o2909" BEL "ram/_o2907" BEL "ram/_o2905" BEL "ram/_o2903" BEL
        "ram/_o2901" BEL "ram/_o2899" BEL "ram/_o2897" BEL "ram/_o2895" BEL
        "ram/_o2893" BEL "ram/_o2891" BEL "ram/_o2889" BEL "ram/_o2887" BEL
        "ram/_o2885" BEL "ram/_o2883" BEL "ram/_o2881" BEL "ram/_o2879" BEL
        "ram/_o2877" BEL "ram/_o2875" BEL "ram/_o2873" BEL "ram/_o2871" BEL
        "ram/_o2869" BEL "ram/_o2867" BEL "ram/_o2865" BEL "ram/_o2863" BEL
        "ram/_o2861" BEL "ram/_o2859" BEL "ram/_o2857" BEL "ram/_o2855" BEL
        "ram/_o2853" BEL "ram/_o2851" BEL "ram/_o2849" BEL "ram/_o2847" BEL
        "ram/_o2845" BEL "ram/_o2843" BEL "ram/_o2841" BEL "ram/_o2839" BEL
        "ram/_o2837" BEL "ram/_o2835" BEL "ram/_o2833" BEL "ram/_o2831" BEL
        "ram/_o2829" BEL "ram/_o2827" BEL "ram/_o2825" BEL "ram/_o2823" BEL
        "ram/_o2821" BEL "ram/_o2819" BEL "ram/_o2817" BEL "ram/_o2815" BEL
        "ram/_o2813" BEL "ram/_o2811" BEL "ram/_o2809" BEL "ram/_o2807" BEL
        "ram/_o2805" BEL "ram/_o2803" BEL "ram/_o2801" BEL "ram/_o2799" BEL
        "ram/_o2797" BEL "ram/_o2795" BEL "ram/_o2793" BEL "ram/_o2791" BEL
        "ram/_o2789" BEL "ram/_o2787" BEL "ram/_o2785" BEL "ram/_o2783" BEL
        "ram/_o2781" BEL "ram/_o2779" BEL "ram/_o2777" BEL "ram/_o2775" BEL
        "ram/_o2773" BEL "ram/_o2771" BEL "ram/_o2769" BEL "ram/_o2767" BEL
        "ram/_o2765" BEL "ram/_o2763" BEL "ram/_o2761" BEL "ram/_o2759" BEL
        "ram/_o2757" BEL "ram/_o2755" BEL "ram/_o2753" BEL "ram/_o2751" BEL
        "ram/_o2749" BEL "ram/_o2747" BEL "ram/_o2745" BEL "ram/_o2743" BEL
        "ram/_o2741" BEL "ram/_o2739" BEL "ram/_o2737" BEL "ram/_o2735" BEL
        "ram/_o2733" BEL "ram/_o2731" BEL "ram/_o2729" BEL "ram/_o2727" BEL
        "ram/_o2725" BEL "ram/_o2723" BEL "ram/_o2721" BEL "ram/_o2719" BEL
        "ram/_o2717" BEL "ram/_o2715" BEL "ram/_o2713" BEL "ram/_o2711" BEL
        "ram/_o2709" BEL "ram/_o2707" BEL "ram/_o2705" BEL "ram/_o2703" BEL
        "ram/_o2701" BEL "ram/_o2699" BEL "ram/_o2697" BEL "ram/_o2695" BEL
        "ram/_o2693" BEL "ram/_o2691" BEL "ram/_o2689" BEL "ram/_o2687" BEL
        "ram/_o2685" BEL "ram/_o2683" BEL "ram/_o2681" BEL "ram/_o2679" BEL
        "ram/_o2677" BEL "ram/_o2675" BEL "ram/_o2673" BEL "ram/_o2671" BEL
        "ram/_o2669" BEL "ram/_o2667" BEL "ram/_o2665" BEL "ram/_o2663" BEL
        "ram/_o2661" BEL "ram/_o2659" BEL "ram/_o2657" BEL "ram/_o2655" BEL
        "ram/_o2653" BEL "ram/_o2651" BEL "ram/_o2649" BEL "ram/_o2647" BEL
        "ram/_o2645" BEL "ram/_o2643" BEL "ram/_o2641" BEL "ram/_o2639" BEL
        "ram/_o2637" BEL "ram/_o2635" BEL "ram/_o2633" BEL "ram/_o2631" BEL
        "ram/_o2629" BEL "ram/_o2627" BEL "ram/_o2625" BEL "ram/_o2623" BEL
        "ram/_o2621" BEL "ram/_o2619" BEL "ram/_o2617" BEL "ram/_o2615" BEL
        "ram/_o2613" BEL "ram/_o2611" BEL "ram/_o2609" BEL "ram/_o2607" BEL
        "ram/_o2605" BEL "ram/_o2603" BEL "ram/_o2601" BEL "ram/_o2599" BEL
        "ram/_o2597" BEL "ram/_o2595" BEL "ram/_o2593" BEL "ram/_o2591" BEL
        "ram/_o2589" BEL "ram/_o2587" BEL "ram/_o2585" BEL "ram/_o2583" BEL
        "ram/_o2581" BEL "ram/_o2579" BEL "ram/_o2577" BEL "ram/_o2575" BEL
        "ram/_o2573" BEL "ram/_o2571" BEL "ram/_o2569" BEL "ram/_o2567" BEL
        "ram/_o2565" BEL "ram/_o2563" BEL "ram/_o2561" BEL "ram/_o2559" BEL
        "ram/_o2557" BEL "ram/_o2555" BEL "ram/_o2553" BEL "ram/_o2551" BEL
        "ram/_o2549" BEL "ram/_o2547" BEL "ram/_o2545" BEL "ram/_o2543" BEL
        "ram/_o2541" BEL "ram/_o2539" BEL "ram/_o2537" BEL "ram/_o2535" BEL
        "ram/_o2533" BEL "ram/_o2531" BEL "ram/_o2529" BEL "ram/_o2527" BEL
        "ram/_o2525" BEL "ram/_o2523" BEL "ram/_o2521" BEL "ram/_o2519" BEL
        "ram/_o2517" BEL "ram/_o2515" BEL "ram/_o2513" BEL "ram/_o2511" BEL
        "ram/_o2509" BEL "ram/_o2507" BEL "ram/_o2505" BEL "ram/_o2503" BEL
        "ram/_o2501" BEL "ram/_o2499" BEL "ram/_o2497" BEL "ram/_o2495" BEL
        "ram/_o2493" BEL "ram/_o2491" BEL "ram/_o2489" BEL "ram/_o2487" BEL
        "ram/_o2485" BEL "ram/_o2483" BEL "ram/_o2481" BEL "ram/_o2479" BEL
        "ram/_o2477" BEL "ram/_o2475" BEL "ram/_o2473" BEL "ram/_o2471" BEL
        "ram/_o2469" BEL "ram/_o2467" BEL "ram/_o2465" BEL "ram/_o2463" BEL
        "ram/_o2461" BEL "ram/_o2459" BEL "ram/_o2457" BEL "ram/_o2455" BEL
        "ram/_o2453" BEL "ram/_o2451" BEL "ram/_o2449" BEL "ram/_o2447" BEL
        "ram/_o2445" BEL "ram/_o2443" BEL "ram/_o2441" BEL "ram/_o2439" BEL
        "ram/_o2437" BEL "ram/_o2435" BEL "ram/_o2433" BEL "ram/_o2431" BEL
        "ram/_o2429" BEL "ram/_o2427" BEL "ram/_o2425" BEL "ram/_o2423" BEL
        "ram/_o2421" BEL "ram/_o2419" BEL "ram/_o2417" BEL "ram/_o2415" BEL
        "ram/_o2413" BEL "ram/_o2411" BEL "ram/_o2409" BEL "ram/_o2407" BEL
        "ram/_o2405" BEL "ram/_o2403" BEL "ram/_o2401" BEL "ram/_o2399" BEL
        "ram/_o2397" BEL "ram/_o2395" BEL "ram/_o2393" BEL "ram/_o2391" BEL
        "ram/_o2389" BEL "ram/_o2387" BEL "ram/_o2385" BEL "ram/_o2383" BEL
        "ram/_o2381" BEL "ram/_o2379" BEL "ram/_o2377" BEL "ram/_o2375" BEL
        "ram/_o2373" BEL "ram/_o2371" BEL "ram/_o2369" BEL "ram/_o2367" BEL
        "ram/_o2365" BEL "ram/_o2363" BEL "ram/_o2361" BEL "ram/_o2359" BEL
        "ram/_o2357" BEL "ram/_o2355" BEL "ram/_o2353" BEL "ram/_o2351" BEL
        "ram/_o2349" BEL "ram/_o2347" BEL "ram/_o2345" BEL "ram/_o2343" BEL
        "ram/_o2341" BEL "ram/_o2339" BEL "ram/_o2337" BEL "ram/_o2335" BEL
        "ram/_o2333" BEL "ram/_o2331" BEL "ram/_o2329" BEL "ram/_o2327" BEL
        "ram/_o2325" BEL "ram/_o2323" BEL "ram/_o2321" BEL "ram/_o2319" BEL
        "ram/_o2317" BEL "ram/_o2315" BEL "ram/_o2313" BEL "ram/_o2311" BEL
        "ram/_o2309" BEL "ram/_o2307" BEL "ram/_o2305" BEL "ram/_o2303" BEL
        "ram/_o2301" BEL "ram/_o2299" BEL "ram/_o2297" BEL "ram/_o2295" BEL
        "ram/_o2293" BEL "ram/_o2291" BEL "ram/_o2289" BEL "ram/_o2287" BEL
        "ram/_o2285" BEL "ram/_o2283" BEL "ram/_o2281" BEL "ram/_o2279" BEL
        "ram/_o2277" BEL "ram/_o2275" BEL "ram/_o2273" BEL "ram/_o2271" BEL
        "ram/_o2269" BEL "ram/_o2267" BEL "ram/_o2265" BEL "ram/_o2263" BEL
        "ram/_o2261" BEL "ram/_o2259" BEL "ram/_o2257" BEL "ram/_o2255" BEL
        "ram/_o2253" BEL "ram/_o2251" BEL "ram/_o2249" BEL "ram/_o2247" BEL
        "ram/_o2245" BEL "ram/_o2243" BEL "ram/_o2241" BEL "ram/_o2239" BEL
        "ram/_o2237" BEL "ram/_o2235" BEL "ram/_o2233" BEL "ram/_o2231" BEL
        "ram/_o2229" BEL "ram/_o2227" BEL "ram/_o2225" BEL "ram/_o2223" BEL
        "ram/_o2221" BEL "ram/_o2219" BEL "ram/_o2217" BEL "ram/_o2215" BEL
        "ram/_o2213" BEL "ram/_o2211" BEL "ram/_o2209" BEL "ram/_o2207" BEL
        "ram/_o2205" BEL "ram/_o2203" BEL "ram/_o2201" BEL "ram/_o2199" BEL
        "ram/_o2197" BEL "ram/_o2195" BEL "ram/_o2193" BEL "ram/_o2191" BEL
        "ram/_o2189" BEL "ram/_o2187" BEL "ram/_o2185" BEL "ram/_o2183" BEL
        "ram/_o2181" BEL "ram/_o2179" BEL "ram/_o2177" BEL "ram/_o2175" BEL
        "ram/_o2173" BEL "ram/_o2171" BEL "ram/_o2169" BEL "ram/_o2167" BEL
        "ram/_o2165" BEL "ram/_o2163" BEL "ram/_o2161" BEL "ram/_o2159" BEL
        "ram/_o2157" BEL "ram/_o2155" BEL "ram/_o2153" BEL "ram/_o2151" BEL
        "ram/_o2149" BEL "ram/_o2147" BEL "ram/_o2145" BEL "ram/_o2143" BEL
        "ram/_o2141" BEL "ram/_o2139" BEL "ram/_o2137" BEL "ram/_o2135" BEL
        "ram/_o2133" BEL "ram/_o2131" BEL "ram/_o2129" BEL "ram/_o2127" BEL
        "ram/_o2125" BEL "ram/_o2123" BEL "ram/_o2121" BEL "ram/_o2119" BEL
        "ram/_o2117" BEL "ram/_o2115" BEL "ram/_o2113" BEL "ram/_o2111" BEL
        "ram/_o2109" BEL "ram/_o2107" BEL "ram/_o2105" BEL "ram/_o2103" BEL
        "ram/_o2101" BEL "ram/_o2099" BEL "ram/_o2097" BEL "ram/_o2095" BEL
        "ram/_o2093" BEL "ram/_o2091" BEL "ram/_o2089" BEL "ram/_o2087" BEL
        "ram/_o2085" BEL "ram/_o2083" BEL "ram/_o2081" BEL "ram/_o2079" BEL
        "ram/_o2077" BEL "ram/_o2075" BEL "ram/_o2073" BEL "ram/_o2071" BEL
        "ram/_o2069" BEL "ram/_o2067" BEL "ram/_o2065" BEL "ram/_o2063" BEL
        "ram/_o2061" BEL "ram/_o2059" BEL "ram/_o2057" BEL "ram/_o2055" BEL
        "ram/_o2053" BEL "ram/_o2051" BEL "ram/_o2049" BEL "ram/_o2047" BEL
        "ram/_o2045" BEL "ram/_o2043" BEL "ram/_o2041" BEL "ram/_o2039" BEL
        "ram/_o2037" BEL "ram/_o2035" BEL "ram/_o2033" BEL "ram/_o2031" BEL
        "ram/_o2029" BEL "ram/_o2027" BEL "ram/_o2025" BEL "ram/_o2023" BEL
        "ram/_o2021" BEL "ram/_o2019" BEL "ram/_o2017" BEL "ram/_o2015" BEL
        "ram/_o2013" BEL "ram/_o2011" BEL "ram/_o2009" BEL "ram/_o2007" BEL
        "ram/_o2005" BEL "ram/_o2003" BEL "ram/_o2001" BEL "ram/_o1999" BEL
        "ram/_o1997" BEL "ram/_o1995" BEL "ram/_o1993" BEL "ram/_o1991" BEL
        "ram/_o1989" BEL "ram/_o1987" BEL "ram/_o1985" BEL "ram/_o1983" BEL
        "ram/_o1981" BEL "ram/_o1979" BEL "ram/_o1977" BEL "ram/_o1975" BEL
        "ram/_o1973" BEL "ram/_o1971" BEL "ram/_o1969" BEL "ram/_o1967" BEL
        "ram/_o1965" BEL "ram/_o1963" BEL "ram/_o1961" BEL "ram/_o1959" BEL
        "ram/_o1957" BEL "ram/_o1955" BEL "ram/_o1953" BEL "ram/_o1951" BEL
        "ram/_o1949" BEL "ram/_o1947" BEL "ram/_o1945" BEL "ram/_o1943" BEL
        "ram/_o1941" BEL "ram/_o1939" BEL "ram/_o1937" BEL "ram/_o1935" BEL
        "ram/_o1933" BEL "ram/_o1931" BEL "ram/_o1929" BEL "ram/_o1927" BEL
        "ram/_o1925" BEL "ram/_o1923" BEL "ram/_o1921" BEL "ram/_o1919" BEL
        "ram/_o1917" BEL "ram/_o1915" BEL "ram/_o1913" BEL "ram/_o1911" BEL
        "ram/_o1909" BEL "ram/_o1907" BEL "ram/_o1905" BEL "ram/_o1903" BEL
        "ram/_o1901" BEL "ram/_o1899" BEL "ram/_o1897" BEL "ram/_o1895" BEL
        "ram/_o1893" BEL "ram/_o1891" BEL "ram/_o1889" BEL "ram/_o1887" BEL
        "ram/_o1885" BEL "ram/_o1883" BEL "ram/_o1881" BEL "ram/_o1879" BEL
        "ram/_o1877" BEL "ram/_o1875" BEL "ram/_o1873" BEL "ram/_o1871" BEL
        "ram/_o1869" BEL "ram/_o1867" BEL "ram/_o1865" BEL "ram/_o1863" BEL
        "ram/_o1861" BEL "ram/_o1859" BEL "ram/_o1857" BEL "ram/_o1855" BEL
        "ram/_o1853" BEL "ram/_o1851" BEL "ram/_o1849" BEL "ram/_o1847" BEL
        "ram/_o1845" BEL "ram/_o1843" BEL "ram/_o1841" BEL "ram/_o1839" BEL
        "ram/_o1837" BEL "ram/_o1835" BEL "ram/_o1833" BEL "ram/_o1831" BEL
        "ram/_o1829" BEL "ram/_o1827" BEL "ram/_o1825" BEL "ram/_o1823" BEL
        "ram/_o1821" BEL "ram/_o1819" BEL "ram/_o1817" BEL "ram/_o1815" BEL
        "ram/_o1813" BEL "ram/_o1811" BEL "ram/_o1809" BEL "ram/_o1807" BEL
        "ram/_o1805" BEL "ram/_o1803" BEL "ram/_o1801" BEL "ram/_o1799" BEL
        "ram/_o1797" BEL "ram/_o1795" BEL "ram/_o1793" BEL "ram/_o1791" BEL
        "ram/_o1789" BEL "ram/_o1787" BEL "ram/_o1785" BEL "ram/_o1783" BEL
        "ram/_o1781" BEL "ram/_o1779" BEL "ram/_o1777" BEL "ram/_o1775" BEL
        "ram/_o1773" BEL "ram/_o1771" BEL "ram/_o1769" BEL "ram/_o1767" BEL
        "ram/_o1765" BEL "ram/_o1763" BEL "ram/_o1761" BEL "ram/_o1759" BEL
        "ram/_o1757" BEL "ram/_o1755" BEL "ram/_o1753" BEL "ram/_o1751" BEL
        "ram/_o1749" BEL "ram/_o1747" BEL "ram/_o1745" BEL "ram/_o1743" BEL
        "ram/_o1741" BEL "ram/_o1739" BEL "ram/_o1737" BEL "ram/_o1735" BEL
        "ram/_o1733" BEL "ram/_o1731" BEL "ram/_o1729" BEL "ram/_o1727" BEL
        "ram/_o1725" BEL "ram/_o1723" BEL "ram/_o1721" BEL "ram/_o1719" BEL
        "ram/_o1717" BEL "ram/_o1715" BEL "ram/_o1713" BEL "ram/_o1711" BEL
        "ram/_o1709" BEL "ram/_o1707" BEL "ram/_o1705" BEL "ram/_o1703" BEL
        "ram/_o1701" BEL "ram/_o1699" BEL "ram/_o1697" BEL "ram/_o1695" BEL
        "ram/_o1693" BEL "ram/_o1691" BEL "ram/_o1689" BEL "ram/_o1687" BEL
        "ram/_o1685" BEL "ram/_o1683" BEL "ram/_o1681" BEL "ram/_o1679" BEL
        "ram/_o1677" BEL "ram/_o1675" BEL "ram/_o1673" BEL "ram/_o1671" BEL
        "ram/_o1669" BEL "ram/_o1667" BEL "ram/_o1665" BEL "ram/_o1663" BEL
        "ram/_o1661" BEL "ram/_o1659" BEL "ram/_o1657" BEL "ram/_o1655" BEL
        "ram/_o1653" BEL "ram/_o1651" BEL "ram/_o1649" BEL "ram/_o1647" BEL
        "ram/_o1645" BEL "ram/_o1643" BEL "ram/_o1641" BEL "ram/_o1639" BEL
        "ram/_o1637" BEL "ram/_o1635" BEL "ram/_o1633" BEL "ram/_o1631" BEL
        "ram/_o1629" BEL "ram/_o1627" BEL "ram/_o1625" BEL "ram/_o1623" BEL
        "ram/_o1621" BEL "ram/_o1619" BEL "ram/_o1617" BEL "ram/_o1615" BEL
        "ram/_o1613" BEL "ram/_o1611" BEL "ram/_o1609" BEL "ram/_o1607" BEL
        "ram/_o1605" BEL "ram/_o1603" BEL "ram/_o1601" BEL "ram/_o1599" BEL
        "ram/_o1597" BEL "ram/_o1595" BEL "ram/_o1593" BEL "ram/_o1591" BEL
        "ram/_o1589" BEL "ram/_o1587" BEL "ram/_o1585" BEL "ram/_o1583" BEL
        "ram/_o1581" BEL "ram/_o1579" BEL "ram/_o1577" BEL "ram/_o1575" BEL
        "ram/_o1573" BEL "ram/_o1571" BEL "ram/_o1569" BEL "ram/_o1567" BEL
        "ram/_o1565" BEL "ram/_o1563" BEL "ram/_o1561" BEL "ram/_o1559" BEL
        "ram/_o1557" BEL "ram/_o1555" BEL "ram/_o1553" BEL "ram/_o1551" BEL
        "ram/_o1549" BEL "ram/_o1547" BEL "ram/_o1545" BEL "ram/_o1543" BEL
        "ram/_o1541" BEL "ram/_o1539" BEL "ram/_o1537" BEL "ram/_o1535" BEL
        "ram/_o1533" BEL "ram/_o1531" BEL "ram/_o1529" BEL "ram/_o1527" BEL
        "ram/_o1525" BEL "ram/_o1523" BEL "ram/_o1521" BEL "ram/_o1519" BEL
        "ram/_o1517" BEL "ram/_o1515" BEL "ram/_o1513" BEL "ram/_o1511" BEL
        "ram/_o1509" BEL "ram/_o1507" BEL "ram/_o1505" BEL "ram/_o1503" BEL
        "ram/_o1501" BEL "ram/_o1499" BEL "ram/_o1497" BEL "ram/_o1495" BEL
        "ram/_o1493" BEL "ram/_o1491" BEL "ram/_o1489" BEL "ram/_o1487" BEL
        "ram/_o1485" BEL "ram/_o1483" BEL "ram/_o1481" BEL "ram/_o1479" BEL
        "ram/_o1477" BEL "ram/_o1475" BEL "ram/_o1473" BEL "ram/_o1471" BEL
        "ram/_o1469" BEL "ram/_o1467" BEL "ram/_o1465" BEL "ram/_o1463" BEL
        "ram/_o1461" BEL "ram/_o1459" BEL "ram/_o1457" BEL "ram/_o1455" BEL
        "ram/_o1453" BEL "ram/_o1451" BEL "ram/_o1449" BEL "ram/_o1447" BEL
        "ram/_o1445" BEL "ram/_o1443" BEL "ram/_o1441" BEL "ram/_o1439" BEL
        "ram/_o1437" BEL "ram/_o1435" BEL "ram/_o1433" BEL "ram/_o1431" BEL
        "ram/_o1429" BEL "ram/_o1427" BEL "ram/_o1425" BEL "ram/_o1423" BEL
        "ram/_o1421" BEL "ram/_o1419" BEL "ram/_o1417" BEL "ram/_o1415" BEL
        "ram/_o1413" BEL "ram/_o1411" BEL "ram/_o1409" BEL "ram/_o1407" BEL
        "ram/_o1405" BEL "ram/_o1403" BEL "ram/_o1401" BEL "ram/_o1399" BEL
        "ram/_o1397" BEL "ram/_o1395" BEL "ram/_o1393" BEL "ram/_o1391" BEL
        "ram/_o1389" BEL "ram/_o1387" BEL "ram/_o1385" BEL "ram/_o1383" BEL
        "ram/_o1381" BEL "ram/_o1379" BEL "ram/_o1377" BEL "ram/_o1375" BEL
        "ram/_o1373" BEL "ram/_o1371" BEL "ram/_o1369" BEL "ram/_o1365" BEL
        "ram/_o1363" BEL "ram/_o1367" BEL "generator/over" BEL
        "generator/rand_temp_0" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

