//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 25 22:38:00 2014
//! **************************************************************************

SCHEMATIC START;
COMP "vgaGreen<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "vgaBlue<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "Vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "vgaBlue<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "vgaRed<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "Hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "led" LOCATE = SITE "T8" LEVEL 1;
PIN vgaram/ram0/Mram_my_ram_pins<32> = BEL "vgaram/ram0/Mram_my_ram" PINNAME
        CLKARDCLK;
PIN vgaram/ram0/Mram_my_ram_pins<33> = BEL "vgaram/ram0/Mram_my_ram" PINNAME
        CLKBWRCLK;
PIN vgaram/ram1/Mram_my_ram_pins<32> = BEL "vgaram/ram1/Mram_my_ram" PINNAME
        CLKARDCLK;
PIN vgaram/ram1/Mram_my_ram_pins<33> = BEL "vgaram/ram1/Mram_my_ram" PINNAME
        CLKBWRCLK;
PIN vgaram/ram2/Mram_my_ram_pins<32> = BEL "vgaram/ram2/Mram_my_ram" PINNAME
        CLKARDCLK;
PIN vgaram/ram2/Mram_my_ram_pins<33> = BEL "vgaram/ram2/Mram_my_ram" PINNAME
        CLKBWRCLK;
PIN vgaram/ram3/Mram_my_ram_pins<32> = BEL "vgaram/ram3/Mram_my_ram" PINNAME
        CLKARDCLK;
PIN vgaram/ram3/Mram_my_ram_pins<33> = BEL "vgaram/ram3/Mram_my_ram" PINNAME
        CLKBWRCLK;
TIMEGRP sys_clk_pin = BEL "done" BEL "decoder/dout3_1" BEL
        "decoder/temp_add_0" BEL "decoder/temp_add_1" BEL "decoder/temp_add_2"
        BEL "decoder/temp_add_3" BEL "decoder/temp_add_4" BEL
        "decoder/temp_add_5" BEL "decoder/temp_add_6" BEL "decoder/temp_add_7"
        BEL "decoder/temp_add_8" BEL "decoder/temp_add_9" BEL "vgaram/radd0_0"
        BEL "vgaram/radd0_1" BEL "vgaram/radd0_2" BEL "vgaram/radd0_3" BEL
        "vgaram/radd0_4" BEL "vgaram/radd0_5" BEL "vgaram/radd0_6" BEL
        "vgaram/radd0_7" BEL "vgaram/radd0_8" BEL "vgaram/radd0_9" BEL
        "vgaram/radd3_0" BEL "vgaram/radd3_1" BEL "vgaram/radd3_2" BEL
        "vgaram/radd3_3" BEL "vgaram/radd3_4" BEL "vgaram/radd3_5" BEL
        "vgaram/radd3_6" BEL "vgaram/radd3_7" BEL "vgaram/radd3_8" BEL
        "vgaram/radd3_9" BEL "vgaram/radd1_0" BEL "vgaram/radd1_1" BEL
        "vgaram/radd1_2" BEL "vgaram/radd1_3" BEL "vgaram/radd1_4" BEL
        "vgaram/radd1_5" BEL "vgaram/radd1_6" BEL "vgaram/radd1_7" BEL
        "vgaram/radd1_8" BEL "vgaram/radd1_9" BEL "vgaram/radd2_0" BEL
        "vgaram/radd2_1" BEL "vgaram/radd2_2" BEL "vgaram/radd2_3" BEL
        "vgaram/radd2_4" BEL "vgaram/radd2_5" BEL "vgaram/radd2_6" BEL
        "vgaram/radd2_7" BEL "vgaram/radd2_8" BEL "vgaram/radd2_9" BEL
        "decoder/dout0_0" BEL "decoder/dout0_1" BEL "decoder/dout0_2" BEL
        "decoder/dout2_0" BEL "decoder/dout2_1" BEL "decoder/dout2_2" BEL
        "decoder/dout2_3" BEL "decoder/dout1_0" BEL "decoder/dout1_1" BEL
        "decoder/dout1_2" BEL "decoder/dout1_3" BEL "vgaram/dout_0" BEL
        "vgaram/dout_1" BEL "vgaram/dout_2" BEL "vgaram/dout_3" BEL
        "vgaram/dout_4" BEL "cgenerator/clk25" BEL "radd_0" BEL "radd_1" BEL
        "radd_2" BEL "radd_3" BEL "radd_4" BEL "radd_5" BEL "radd_6" BEL
        "radd_7" BEL "radd_8" BEL "radd_9" BEL "cgenerator/count_0" BEL
        "cgenerator/count_1" BEL "cgenerator/count_2" BEL "clk_BUFGP/BUFG" BEL
        "ram/Mram_my_ram1/SP.HIGH" BEL "ram/Mram_my_ram1/SP.LOW" BEL
        "ram/Mram_my_ram1/DP.HIGH" BEL "ram/Mram_my_ram1/DP.LOW" BEL
        "ram/Mram_my_ram2/SP.HIGH" BEL "ram/Mram_my_ram2/SP.LOW" BEL
        "ram/Mram_my_ram2/DP.HIGH" BEL "ram/Mram_my_ram2/DP.LOW" BEL
        "ram/Mram_my_ram5/SP.HIGH" BEL "ram/Mram_my_ram5/SP.LOW" BEL
        "ram/Mram_my_ram5/DP.HIGH" BEL "ram/Mram_my_ram5/DP.LOW" BEL
        "ram/Mram_my_ram3/SP.HIGH" BEL "ram/Mram_my_ram3/SP.LOW" BEL
        "ram/Mram_my_ram3/DP.HIGH" BEL "ram/Mram_my_ram3/DP.LOW" BEL
        "ram/Mram_my_ram4/SP.HIGH" BEL "ram/Mram_my_ram4/SP.LOW" BEL
        "ram/Mram_my_ram4/DP.HIGH" BEL "ram/Mram_my_ram4/DP.LOW" BEL
        "ram/Mram_my_ram6/SP.HIGH" BEL "ram/Mram_my_ram6/SP.LOW" BEL
        "ram/Mram_my_ram6/DP.HIGH" BEL "ram/Mram_my_ram6/DP.LOW" BEL
        "ram/Mram_my_ram7/SP.HIGH" BEL "ram/Mram_my_ram7/SP.LOW" BEL
        "ram/Mram_my_ram7/DP.HIGH" BEL "ram/Mram_my_ram7/DP.LOW" BEL
        "ram/Mram_my_ram8/SP.HIGH" BEL "ram/Mram_my_ram8/SP.LOW" BEL
        "ram/Mram_my_ram8/DP.HIGH" BEL "ram/Mram_my_ram8/DP.LOW" PIN
        "vgaram/ram0/Mram_my_ram_pins<32>" PIN
        "vgaram/ram0/Mram_my_ram_pins<33>" PIN
        "vgaram/ram1/Mram_my_ram_pins<32>" PIN
        "vgaram/ram1/Mram_my_ram_pins<33>" PIN
        "vgaram/ram2/Mram_my_ram_pins<32>" PIN
        "vgaram/ram2/Mram_my_ram_pins<33>" PIN
        "vgaram/ram3/Mram_my_ram_pins<32>" PIN
        "vgaram/ram3/Mram_my_ram_pins<33>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

